.pagePane {
    
    height: 50px;
    border: 2px black solid;
    margin: 1em;
    
}

.large {
    
    height:50px;
    width: 50px;
    margin: 3px;
    
    
}

.page.active.small {
 
    background-color: black;
    
}

.page.fault.small {
 
    background-color: crimson;
    
}

.page.nofault.small {
    background-color: limegreen;
}

.page
{
    display: inline-block;
    background-color: cornflowerblue;
    position: relative;
    text-align: center;  
    transition: transform 0.5s;
}

.invisible{
    
    transform: scale(0);
}

.visible{
 
    transform: scale(1);
    
}

.page p {
    color: aliceblue;
    font-size: 1.5em;
    display: inline-block;
    position: relative;
    bottom: 15px;
}


.pageStackBorder{
  width: 63px;
  bottom: 0px;
    left: 50%;
    position: absolute;
    
  
    
    
}
.small {
    margin: 3px;
    height: 40px;
    width: 40px;
    
    
}

.mainView {
    width: 100%;
    height: 65vh;
}


.pageStackWrapper{
    height: 100%;
    width: 70%;
    margin: 1em;
    display: inline-block;
    position: relative;
}

.pageStack.visible{
    
    border: 2px solid black;
    
}

.pageStack{
 
    width: 60px;
    margin: 0 auto;
/*
    bottom: 0px;
    left: 50%;
    
    position: absolute;
*/
    
}

.messages{
    height: 100%;
    width: 20%;
    display: inline-block;
    padding: 0;
    margin: 1em;
}